## WMATA Bus Positions Example

Import pandas library for data analysis and requests library for API requests

In [1]:
import pandas as pd
import requests

Add header for WMATA API key

In [2]:
headers = {'api_key': '5d7494bbde0c411981d3832703734b09'}

API request for bus positions

In [3]:
bus_positions = requests.get('https://api.wmata.com/Bus.svc/json/jBusPositions', headers=headers)

Status code for bus position request

In [4]:
bus_positions.status_code

200

Decode bus positions JSON

In [5]:
bus_positions_json = bus_positions.json()

Parse through bus positions JSON and convert it to a pandas dataframe

In [6]:
BlockNumber = []
DateTime = []
Deviation = []
DirectionNum = []
DirectionText = []
Lat = []
Lon = []
RouteID = [] 
TripEndTime = [] 
TripHeadsign = []
TripID = []
TripStartTime = []
VehicleID = []

for i in bus_positions_json['BusPositions']:
    BlockNumber.append(i['BlockNumber'])
    DateTime.append(i['DateTime'])
    Deviation.append(i['Deviation'])
    DirectionNum.append(i['DirectionNum'])
    DirectionText.append(i['DirectionText'])
    Lat.append(i['Lat'])
    Lon.append(i['Lon'])
    RouteID.append(i['RouteID'])
    TripEndTime.append(i['TripEndTime']) 
    TripHeadsign.append(i['TripHeadsign'])
    TripID.append(i['TripID'])
    TripStartTime.append(i['TripStartTime'])
    VehicleID.append(i['VehicleID'])
    
bus_positions_df = pd.DataFrame(list(zip(BlockNumber, DateTime, Deviation, DirectionNum, DirectionText, Lat, Lon, RouteID, 
    TripEndTime, TripHeadsign, TripID, TripStartTime, VehicleID)), 
    columns=['BlockNumber','DateTime', 'Deviation', 'DirectionNum', 'DirectionText', 'Lat', 'Lon', 'RouteID',
            'TripEndTime', 'TripHeadsign', 'TripID', 'TripStartTime', 'VehicleID'])

Preview of bus positions dataframe

In [7]:
bus_positions_df.head()

,BlockNumber,DateTime,Deviation,DirectionNum,DirectionText,Lat,Lon,RouteID,TripEndTime,TripHeadsign,TripID,TripStartTime,VehicleID
0,B-330,2019-04-12T13:33:56,-8.0,0,EAST,38.886848,-77.001190,34,2019-04-12T11:48:00,NAYLOR RD STATION,940949060,2019-04-12T11:10:00,2877
1,LP-05,2019-04-12T13:33:54,0.0,0,EAST,38.819942,-76.989174,P12,2019-04-12T12:21:00,ADDISON RD STATION,918468060,2019-04-12T11:15:00,7396
2,MY-16,2019-04-12T13:33:36,0.0,1,SOUTH,38.994217,-77.028023,Y8,2019-04-12T13:00:00,SILVER SPRING STATION,925465060,2019-04-12T11:49:00,7253
3,MC-82,2019-04-12T13:33:47,9.0,0,EAST,38.978264,-76.927261,C8,2019-04-12T13:11:00,COLLEGE PARK STATION,895723060,2019-04-12T11:57:00,7078
4,BD-15,2019-04-12T13:33:32,-1.0,1,WEST,38.935810,-77.107536,D6,2019-04-12T13:21:00,SIBLEY HOSPITAL,927235060,2019-04-12T11:57:00,2870

Export bus positions to a CSV file

In [8]:
bus_positions_df.to_csv('bus_positions.csv', encoding = 'utf-8')